.SearchedVideoCard {
    display: flex;
    margin: 10px 0 10px 0;
}

.thumbnail > img {
    width: 300px;
    object-fit: cover;
}

.SearchedVideoCard > div:nth-child(2) {
    margin-left: 20px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 5px 0;
}

.channelName {
    font-size: 12px;
    color: #5a5a5a;
}

.description {
    font-size: 12px;
    color: #5a5a5a;
    margin-top: 5px;
}

@media screen and (max-width: 830px) {
    .thumbnail > img {
        width: 36dvw;
    }

}

@media screen and (max-width: 540px) {
    .thumbnail>img {
        width: 10em;
    }

    .title {
        font-size: 12px;
    }
}
@media screen and (max-width: 450px) {
    .thumbnail>img {
        width: 10em;
    }

    .title {
        font-size: 10px;
    }
}

@media screen and (max-width:370px){
    .thumbnail>img {
        width: 8em;
    }

}